<p id="notice"><%= notice %></p>

<div class="col-lg-12">
  <h1> Categories </h1>
</div>
<div id="sortableTable" class="body collapse in">
  <div class="box">    
    <table class="table table-bordered sortableTable responsive-table">
      <thead>
        <tr>  
          <th>Nombre<i class="icon-sort"></i><i class="icon-sort-down"></i> <i class="icon-sort-up"></i></th>
          <th>Descripción<i class="icon-sort"></i><i class="icon-sort-down"></i> <i class="icon-sort-up"></i></th>
          <th>Opciones <i class="icon-sort"></i><i class="icon-sort-down"></i> <i class="icon-sort-up"></i></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.nombre %></td>
            <td><%= category.descripcion %></td>
            <td>
              <%= link_to '', category, :class => "glyphicon glyphicon-search" %>
                <%= link_to '', edit_category_path(category), :class => "glyphicon glyphicon-pencil" %>
                <%= link_to '', category, :class => "glyphicon glyphicon-trash", method: :delete, data: { confirm: '¿Estás seguro?' } %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Nueva Categoria', new_category_path, :class => "btn text-muted text-center btn-success" %>
